
    <% if(jwtData.roles == 2){%>
        <%- include('headerProfesseur') %>
    <% }else if(jwtData.roles == 3){ %>
        <%- include('headerProviseur') %>
    <% }else{ %>
        <%- include('headerEleve') %>
    <% } %>


    <body class="text-center">
        <div class="container w-50 my-5">
            <h3>Accueil Asimov</h3>
        </div>
        
    </body>