<body>


    <% if(jwtData.roles == 2){%>
        <%- include('headerProfesseur') %>
      <% }else if(jwtData.roles == 3){ %>
        <%- include('headerProviseur') %>
      <% }else{ %>
        <%- include('headerEleve') %>
      <% } %>

   
        <div class="alert m-5 alert-danger" role="alert">
            Il semble qu'une erreur se soit produite...
            </div>
    
    
</body>
</html>